.sidebar {
    min-height: 100vh;
    width: 250px;
    left: 0;
    top: 0;
    padding-top: 40px;
    color: white;
    background-color: #131313;
    /* overflow: hidden; */
    /* display: flex; */
    position: relative;
    }

.activeBar{
    filter:sepia(100%) saturate(1546%) hue-rotate(180deg) brightness(90%) contrast(100%);
    border-left: solid;
    border-width: thick;
}



.Frame14{
    text-align: left;
}
.Action{
    /* position: relative;
    width: 252px;
    height: 40px;
    left: 0px;
    top: 319px; */
    display: flex;
    align-items: center;
    padding-left: 30px !important;
    /* justify-content: center; */
    column-gap: 20px;
}


    .sidebar div {
    padding: 8px;
    font-size: 18px;
    /* display: block; */
    }
    
    .body-text {
    margin-left: 150px;
    font-size: 18px;
    }
    .Frame1 div {
        padding-top: 15px;
        } 
.roundRectangle{
    
    box-sizing: border-box;
width: 192px;
height: 305px;
left: 30px;
top: 603px;
 background: rgba( 255, 255, 255, 0 );
border-radius: 24px;
border: 1px solid #D4D4FC;
margin: 20px;
    }

.roundRectangleUpgrade{
    box-sizing: border-box;
    width: 146px;
    height: 40px;
    left: 53px;
    top: 824px;
    background: rgba(212, 212, 252, 0.12);
    border: 1px solid #D4D4FC;
    border-radius: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    margin-left: 14px;
}

.Yourfreetrialisabouttoendin10days{
font-family: "Roboto";
font-style: normal;
font-weight: 800;
font-size: 16px;
line-height: 19px;
align-items: center;
color: #F8F8F8;
}

.billed div{
font-size: 12px;
padding-left:0;
width: 152px;
/* height: 84px; */

font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;

color: #D4D4FC;
}

.Frame1{
    padding-top:40px !important;
    padding-bottom: 50px !important;
}
.sidebar a{
    text-decoration: none;
  }
  .sidebar  a:link {

    color:white;
    text-decoration: none;
  }
  
  .sidebar  a:visited {
    color:white;
    text-decoration: none;
  }
  
  .sidebar   a:hover {

    filter:sepia(100%) saturate(1546%) hue-rotate(180deg) brightness(90%) contrast(100%);
    text-decoration: none;
    background-color: #D4D4FC;
    border-radius: 50px;
  }
  
  .sidebar   a:active {
    text-decoration: none;
  }